html {
  font: normal 14px/1.4 'Helvetica Neue', Helvetica, sans-serif;
  box-sizing: border-box;
  background: white;
  -webkit-font-smoothing: antialiased;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 10px;
  background: darkslateblue;
  background: linear-gradient(to right, #483d8b 0%,#84526e 100%);
  padding: 30px;
}

:focus {
  outline: 0;
}
