.image {
  overflow: hidden;
  transition: opacity 0.3s ease-in-out;
}

.image:HOVER{
  transition: opacity 0s ease-in-out;
  opacity: 0.5;
}

.img{
  max-width: 100%;
  display: flex;
  width: 200px;
  height: 200px;
  object-fit: contain;
}
