.image {
  overflow: hidden;
  display: block;
  transition: all 0.3s ease-in-out;
  background: rgba(0, 0, 0, 0.8);
}

.image:HOVER,
.image:FOCUS{
  transition: all 0s ease-in-out;
  background: rgba(0, 0, 0, 0.5);
}

.img{
  max-width: 100%;
  display: flex;
  width: 210px;
  height: 210px;
  object-fit: contain;
  cursor: pointer;
}

.githubEmbedLabel{
  width: 100%;
  margin: 8px 0 0;
  display: inline-block;
  color: #fff;
  font-size: 12px;
}

.githubEmbedInput{
  width: 100%;
  margin: 0;
  padding: 10px 4px 10px 10px;
  border: 0;
  color: #666;
  background: #fff;
  border-radius: 3px;
  box-shadow: inset 1px 2px 2px 0px rgba(0,0,0,0.2);
  }

}
