.button{
  composes: sharedButton from "../shared-css/shared.css";
  margin: 60px 0;
  padding: 20px 50px;
  align-self: center;
}

.buttonDisabled{
  composes: button;
  composes: sharedButtonDisabled from "../shared-css/shared.css";
}
