@value variables: "../shared-css/variables.css";
@value border-radius-default from variables;

.input{
  font-size: 14px;
  padding: 18px 22px;
  border: 2px solid #fff;
  margin: 0;
  border-radius: 30px border-radius-default border-radius-default 30px;
  flex: 1 0 auto;
  max-width: 400px;
  line-height: 1;
}

.button{
  composes: sharedButton from "../shared-css/shared.css";
}

.buttonDisabled{
  composes: sharedButtonDisabled from "../shared-css/shared.css";
}

.form{
  margin: 0 0 60px 0;
  display: flex;
  justify-content: center;
}
