.imageListingItems{
  list-style: none;
  padding: 0;
  margin: 0 -8px 0 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.imageListingItem{
  display: flex;
  align-items: flex-start;
  margin: 0 8px 8px 0;
  padding: 10px;
  height: 280px;
  width: 230px;
  overflow: hidden;
  background: #fff;
}

.imageListing{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: column;
}
