.input{
  font-size: 14px;
  padding: 18px 22px;
  border: 2px solid #32a4b3;
  margin: 0;
  border-radius: 3px;
  flex: 1 0 auto;
  max-width: 400px;
  line-height: 1;
}

.button{
  composes: button from "../shared-css/shared.css";
}

.form{
  margin: 0 0 50px 0;
  display: flex;
  justify-content: center;
}
