.sharedButton{
  cursor: pointer;
  font-size: 14px;
  border-radius: 3px 30px 30px 3px;
  border: 0;
  color: white;
  padding: 10px 25px 10px 20px;
  margin: 0 0 0 8px;
  line-height: 1;
  background: crimson;
  font-weight: bold;
}
.sharedButton:HOVER{
  opacity: 0.8;
}
.sharedButton:ACTIVE{
  opacity: 0.9;
}

.sharedButtonDisabled{
  composes: sharedButton;
  background-color: rgba(237,20,61,0.3);
  cursor: default;
}
.sharedButtonDisabled:HOVER{
  opacity: 1;
}
