.button{
  cursor: pointer;
  font-size: 14px;
  border-radius: 3px 30px 30px 3px;
  border: 0;
  color: white;
  padding: 10px 25px 10px 20px;
  margin: 0 0 0 4px;
  line-height: 1;
  background: crimson;
  font-weight: bold;
}

.button:HOVER{
  opacity: 0.8;
}

.button:ACTIVE{
  opacity: 0.9;
}
