.sharedButton{
  cursor: pointer;
  font-size: 14px;
  border-radius: 3px 30px 30px 3px;
  border: 0;
  color: white;
  padding: 10px 25px 10px 20px;
  margin: 0 0 0 8px;
  line-height: 1;
  background: #e91e63;
  font-weight: bold;
}
.sharedButton:HOVER{
  opacity: 0.8;
}
.sharedButton:ACTIVE{
  opacity: 0.9;
}

.sharedButtonDisabled{
  composes: sharedButton;
  background-color: rgba(233, 30, 99, 0.3);
  cursor: default;
}
.sharedButtonDisabled:HOVER{
  opacity: 1;
}

@keyframes rotateForever {
  0%    { transform: rotate(0deg); }
  100%  { transform: rotate(360deg); }
}

.loadingSpinner {
  animation: rotateForever 0.5s linear infinite;
  height: 20px;
  width: 20px;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-right-color: transparent;
  border-radius: 50%;
}
