.githubLink{
  color: rgba(255,255,255,0.5);
  display: flex;
  align-items: center;
  position: absolute;
  top: 25px;
  right: 30px;
  font-size: 12px;
  text-decoration: none;
  transition: all 0.3s;
}

.githubLink:HOVER{
  transition: all 0s;
  color: rgba(255,255,255,1);
}

.emptyMessage{
  color: rgba(255,255,255,0.5);
  text-align: center;
  font-weight: bold;
}
